* {
    box-sizing: border-box;
}
:root {
    /* color  zone  */
    --primary-color: #1ebfc1;
    --white-color: #ffffff;
}
html {
    font-size: 62.5%;
}

body {
    background-color: #ccc;
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    background: #fff;
}

.content {
    width: 1170px;
    max-width: calc(100vw - 48px);
    margin-left: auto;
    margin-right: auto;
}

.row {
    display: flex;
    align-items: center;
}

a {
    display: block;
    text-decoration: none;
}

.btn {
    border: 1px var(--white-color) solid;
    color: var(--white-color);
    background-color: var(--primary-color);
    min-width: 186px;
    border-radius: 14px;
    padding: 20px 41px;
}

.btn:hover {
    border: 1px var(--primary-color) solid;
    color: var(--primary-color);
    background-color: var(--white-color);
    opacity: 0.9;
}

.cir-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 62px;
    height: 62px;
    border-radius: 50%;
}

.cir-btn:hover {
    background: #def6f5;
}
img {
    display: block;
}
/* color-zone  */

/* ==================== header ==================== */
.header {
    padding-top: 52px;
    background: #fff;
    padding-bottom: 10px;
}

.sticky-header {
    position: sticky;
    top: -42px;
    z-index: 1;
}
.header .navbar {
    margin-left: 215px;
}

.header .navbar .item {
    display: inline-block;
    font-weight: 400;
    font-size: 1.6rem;
    color: #2f3a3b;
    padding: 16px 20px;
}

.header .navbar .item:first-of-type {
    font-weight: 600;
}

.header .navbar .item:hover {
    transition-duration: 1s;
    background: #ccc;
}

.header .nav-sub {
    margin-left: auto;
}

.header .nav-sub .btn {
    min-width: 48px;
}
.header .nav-sub .item {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    text-align: center;
    color: #494949;
}

.header .nav-sub .item:nth-of-type(1):hover {
    color: #1ebfc1;
}
.header .nav-sub .item:nth-child(2) {
    margin-left: 24px;
    border-radius: 6px;
    padding: 11px 24px;
    /* text */
    font-weight: 600;
    font-size: 1.6rem;
    text-align: center;
    border: 1px solid var(--primary-color);
    color: var(--primary-color);
    background: var(--white-color);
}

.header .nav-sub .item:nth-child(2):hover {
    border: 1px solid var(--primary-color);
    color: var(--white-color);
    background: var(--primary-color);
}

/* ==================== hero ==================== */
.hero {
    padding-bottom: 79px;
}
.hero .row {
    justify-content: space-between;
}

.hero .hero-detail {
    width: 40%;
}

.hero .thumb {
    position: relative;
}
.hero img {
    width: 576px;
    height: 631px;
    object-fit: cover;
}

.hero .title-panel {
    font-weight: 500;
    font-size: 1rem;
    line-height: 1.5;
    color: #0d1111;
}
.hero .panel:nth-of-type(1),
.hero .panel:nth-of-type(2),
.hero .panel:nth-of-type(3) {
    box-shadow: 0px 10px 80px rgba(0, 0, 0, 0.05);
    position: absolute;
    background: #ffffff;
    border-radius: 18px;
}
.hero .panel:nth-of-type(1) {
    padding: 17px 35px;
    bottom: 41px;
    right: 45px;
}

.hero .panel:nth-of-type(1) .title-panel {
    margin-bottom: 8px;
}

.hero .avatar-block {
    display: flex;
    align-items: center;
}

.hero .avatar-block .avt {
    width: 33px;
    height: 33px;
    object-fit: cover;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: -7px;
    background: #1ebfc1;
    /* font */
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    color: #ffffff;
}
.hero .panel:nth-of-type(2) {
    padding: 16px 25px 23px;
    bottom: 46px;
    right: 517px;
}

.hero .panel:nth-of-type(2) .title-panel {
    text-align: center;
    margin-bottom: 16px;
}

.hero .panel:nth-of-type(2) .image {
    width: 74px;
    height: 6px;
}

.hero .panel:nth-of-type(2) .image + .image {
    margin-top: 12px;
}
.hero .panel:nth-of-type(3) {
    padding: 18px 25px;
    bottom: 407px;
    right: 459px;
}

.hero .panel:nth-of-type(3) img {
    width: 107px;
    height: 40px;
}
.hero .desc-1 {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #767e7e;
}
.hero .desc-2 {
    width: 374px;
    margin-top: 46px;
    font-weight: 400;
    line-height: 1.78;
    color: #9da6a5;
}
.hero .title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 6.2rem;
    line-height: 1.16;
    color: #0d1111;
}

.hero .btn {
    min-width: 186px;
    border-radius: 14px;
    padding: 20px 41px;
    box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.05);
    font-weight: 600;
    line-height: 1.5;
    text-align: center;
}

.hero .cir-btn img {
    width: 14px;
    height: 18px;
    object-fit: contain;
}

.hero .hero-detail > .row {
    margin-top: 52px;
    justify-content: flex-start;
}

.hero .hero-detail .cir-btn {
    margin-left: 50px;
}

.hero .hero-detail .cir-btn:hover {
    box-shadow: 0px 22px 50px rgba(0, 0, 0, 0.05);
}
/* ==================== features ==================== */
.features {
    margin-top: 130px;
    background: #ffffff;
}
.features .content-features {
    width: 1024px;
}
.features .content-features div:first-child {
    width: 591px;
}
.features .desc-1 {
    letter-spacing: 2.4px;
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
}
.features .desc-2 {
    margin-top: 18px;
    font-weight: 400;
    line-height: 1.5;
    color: #767e7e;
}
.features .title {
    margin-top: 18px;
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.33;
    color: #0d1111;
}

.features .row {
    margin-top: 80px;
    gap: 200px;
    margin-bottom: 130px;
}

.features .row .sub-title {
    margin-top: 26px;
    margin-top: 26px;
    font-weight: 600;
    font-size: 2rem;
    line-height: 1.5;
    color: #0d1111;
}

.features .row .desc-3 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.69;
    color: #9da6a5;
}

/* ==================== courses ==================== */
.courses {
    background: #ffffff;
}
.courses .content {
    width: 1171px;
}
.courses .desc-1 {
    font-weight: 700;
    font-size: 1.2rem;
    line-height: 1.5;
    color: #767e7e;
    letter-spacing: 2.4px;
}

.courses .title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 6.3rem;
    color: #0d1111;
}

.courses .desc-2 {
    width: 525px;
    font-weight: 400;
    line-height: 1.78;
    color: #767e7e;
}
.courses .link-block {
    display: flex;
    margin-top: 19px;
    align-items: center;
}
.courses .link-block .link {
    margin-left: auto;
    font-weight: 700;
    font-size: 1.4rem;
    text-decoration-line: underline;
    color: #1ebfc1;
}

.courses .row-2 {
    margin-top: 79px;
    justify-content: space-between;
    gap: 47px;
}
.courses .row-2 .slide {
    height: 517px;
    position: relative;
    flex: 1;
}
.courses .row-2 .image {
    width: 100%;
    height: 393px;
    object-fit: cover;
    opacity: var(--opacity-hover, 0.65);
    border-radius: 8px;
}

.courses .row-2 .slide:nth-of-type(1):hover,
.courses .row-2 .slide:nth-of-type(2):hover,
.courses .row-2 .slide:nth-of-type(3):hover {
    --opacity-hover: 1;
    cursor: pointer;
}
.courses .row-2 .panel {
    opacity: 1;
    width: 325px;
    position: absolute;
    bottom: 0;
    left: 17px;
    background: #ffffff;
    box-shadow: 0px 16px 90px rgba(0, 0, 0, 0.05);
    border-radius: 8px;
    padding: 18px 0px 29px 25px;
}

.courses .sub-title {
    font-weight: 700;
    font-size: 2.2rem;
    color: #0d1111;
}
.courses .desc-3 {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.5;
    color: #767e7e;
}

.courses .desc-3 span {
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 1.5;
    color: #0d1111;
}
.courses .desc-4 {
    margin-top: 6px;
    margin-bottom: 18px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

.courses .footer-panel {
    display: flex;
    gap: 10px;
}
.courses .point {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #1ebfc1;
}

.courses .desc-5 {
    margin-left: 10px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.5;
    color: #9da6a5;
}

/* ==================== stats ==================== */

.stats {
    background: #fff;
    padding: 265px 0px;
}

.stats .content {
    width: 862px;
}

.stats .content > .row {
    justify-content: space-between;
}

.stats .col {
    text-align: center;
}

.stats .title {
    font-weight: 700;
    font-size: 6.2rem;
    color: #0d1111;
}
.stats .desc {
    margin-top: 11px;
    font-weight: 400;
    font-size: 1.8;
    color: #767e7e;
}

/* ==================== feedbacks ==================== */
.feedback {
    padding-bottom: 130px;
}
.feedback .content {
    position: relative;
}
.feedback .detail {
    padding-top: 37px;
    padding-bottom: 37px;
    width: 419px;
}

.feedback .desc-1 {
    margin-top: 27px;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 1.5;
    color: #5d6564;
}
.feedback .desc-2 {
    margin-top: 33px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 24px;
    color: #1f3042;
}

.feedback .desc-2 span {
    font-weight: 500;
    color: #070707;
}

.feedback .navbar {
    margin-top: 52px;
    display: flex;
    gap: 30px;
    align-items: center;
}

.feedback .navbar .cir-btn {
    width: 50px;
    height: 50px;
    display: flex;
    text-align: center;
    justify-content: center;
    border-radius: 50%;
    background-color: var(--primary-color);
}

.feedback .navbar .cir-btn:hover {
    opacity: 0.9;
}
.feedback .avatar {
    width: 78px;
    height: 78px;
    border-radius: 50%;
    object-fit: cover;
    position: absolute;
}

.feedback .avatar:nth-of-type(1) {
    bottom: 145px;
    left: 491px;
}
.feedback .avatar:nth-of-type(2) {
    width: 92px;
    height: 92px;
    bottom: 389px;
    left: 635px;
}
.feedback .avatar:nth-of-type(3) {
    bottom: 0;
    left: 703px;
}
.feedback .avatar:nth-of-type(4) {
    width: 235px;
    height: 235px;
    bottom: 139px;
    left: 764px;
}
.feedback .avatar:nth-of-type(5) {
    width: 110px;
    height: 110px;
    bottom: 352px;
    left: 1060px;
}
.feedback .avatar:nth-of-type(6) {
    bottom: 29px;
    left: 1060px;
}

/* ==================== creat ==================== */
.creat {
    padding: 76px 0px 135px;
    background: #def6f5;
}
.creat .detail {
    width: 420px;
    margin-right: 410px;
}

.creat .title {
    font-weight: 700;
    font-size: 4.2rem;
    line-height: 1.5;
    color: #070707;
}

.creat .desc {
    font-weight: 400;
    color: #767e7e;
}

.creat .btn {
    padding: 25px 41px;
    font-weight: 600;
    text-align: center;
}

/* ==================== footer ==================== */

.footer {
    padding: 131px 0px 50px;
}
.footer > .row {
    justify-content: space-between;
    align-items: flex-start;
}

.footer .title {
    margin-bottom: 25px;
    font-weight: 500;
    color: #2e2e2e;
}

.footer .link {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #535353;
}

.footer .link-social {
    font-weight: 400;
    font-size: 1.6rem;
    color: #535353;
}
.footer .link:hover,
.footer .link-social:hover {
    text-decoration: underline;
}

.footer .col:last-child .title {
    margin-bottom: 18px;
}

.footer .col:last-child .brand-block {
    margin-bottom: 18px;
}
.footer .col:last-child span {
    margin-left: 10px;
    font-weight: 400;
    font-size: 1.6rem;
    color: #535353;
}
.footer .col:last-child .cir-btn {
    width: 9px;
    height: 9px;
}

.footer .cpr {
    margin-top: 80px;
    font-weight: 400;
    color: #b0b5b4;
    text-align: center;
}
